.App {
  background-color: #444;
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: indianred;
  height: 220px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

.enemies {
  /*background-color: #222;*/
  position: relative;
  width: 100vw;
}

.army {
  margin-bottom: 40px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-top: solid 2px #333;
}
.army h3 {
  color: RGBA(94, 198, 150, 1.00);
}

.leader {
  cursor: crosshair;
  font-size: 1.9em;
  font-weight: bold;
  width: 200px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding: 12px 0px;
  margin-bottom: 10px;
  color: RGBA(94, 198, 150, 1.00);
}


.defense {
  display: inline-block;
  text-align: center;
  height: 60px;
  min-width: 50px;
  padding: 20px;
  background-color: RGBA(147, 53, 47, 1.00);
  border: solid 2px RGBA(197, 93, 87, 1.00);
  border-radius: 4px 4px 50px 50px;
  transform: rotateZ(7deg);
  margin: 10px 20px;
  cursor: pointer;
}
.defense:hover {
  box-shadow: 0px 0px 2px 2px white;
}
.defense:hover .instructions {
  visibility: visible;
}
.instructions {
  margin-top: 10px;
  min-width: 70px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  color: indianred;
  visibility: hidden;
  display: block;
  position: absolute;
}

.reinforcements {
  background-color: indianred;
  color: white;
  min-height: 150px;
  border-bottom: dotted 7px RGBA(147, 53, 47, 1.00);
}

#paperwork, #paperwork + button {
  margin: 20px;
  padding: 10px;
  font-size: 0.9em;
  background-color: RGBA(147, 53, 47, 1.00);
  color: white;
  outline: none;
}
#paperwork::-webkit-input-placeholder {
  color: RGBA(255, 157, 160, 1.00);
}
form {
  display: block;
}

button {
  border-radius: 10px;
  border: solid 2px RGBA(255, 157, 160, 1.00);
}
button:hover {
  box-shadow: 0px 0px 2px 2px white;
  cursor: pointer;
}

.troops {
  display: inline;
}
.troop {
  background-color: RGBA(57, 107, 209, 1.00);
  list-style: none;
  padding: 10px 0px;
  width: 130px;
  border-radius: 0 10px 0 10px;
  display: inline-block;
  margin: 0 -12px 10px -12px;
}

.minion {
  display: inline-block;
  cursor: pointer;
  padding: 14px;
  border-radius: 18px;
  margin: 0 12px 10px 12px;
  background-color: RGBA(94, 198, 150, 1.00);
}
.minions {
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
